.warning-modals-wrapper{
    width: 500px;
}

.warning-modals-wrapper .modals-body{
    background-color: white;
    height: 200px;
}

.warning-modals-wrapper .modals-footer{
    background-color: #D32F2F;
    height: 100px;
}

.warning-modals-wrapper .modals-body i{
    color: #D32F2F;
    font-size: 60px;
}

.warning-modals-wrapper .modals-body p{
    margin-bottom: 0;
}

.warning-modals-wrapper .modals-body .modals-type{
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}
.warning-modals-wrapper .modals-footer .confirm-button{
    background-color: #00695C;
    border-radius: 3px;
    padding: 5px 20px;
    color: white;
}