.daily__reflections__wrapper {
   display: flex;
   justify-content: center;
   align-items: center; 

   width: 100%;
}

.daily__reflections__wrapper .daily__reflections__section {
    width: 80%;
    
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    line-height: 2.5;
}

.daily__reflections__wrapper .daily__reflections__section .title-wrapper {
    font-family: Tangerine, cursive;
    font-size: 40px;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid grey;
}

.daily__reflections__wrapper .daily__reflections__section .underline__decorator {
    width: 30%;
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: grey;
}

.reflections__desc{
    text-align: center;
}

@media (min-width: 768px) {
    .daily__reflections__wrapper .daily__reflections__section{
        width: 50%;
    }
}
