.confirmation-modals-wrapper{
    width: 500px;
}

.confirmation-modals-wrapper .modals-body{
    background-color: white;
    height: 200px;
}

.confirmation-modals-wrapper .modals-footer{
    background-color: #FDD835;
    height: 100px;
}

.confirmation-modals-wrapper .modals-body i{
    color: #FDD835;
    font-size: 60px;
}

.confirmation-modals-wrapper .modals-body p{
    margin-bottom: 0;
}

.confirmation-modals-wrapper .modals-body .modals-type{
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}
