.title_center_wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #FF8C00;
}

.title_center_wrapper span {
    color: white;
    font-size: 28px;
}

.title_decorator{
    position: absolute;
    left: calc((100% - 5%)/2);
    width: 5%;
    bottom: 5px;
    height: 5px;
    background-color: white;
    margin: 10px 0;
}