.default_title_wrapper {
    position: relative;
    width: 100%;
    height: 80px;
    text-align: center;
    margin-bottom: 10px;
}

.default_title_wrapper span {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.title_decorator{
    position: absolute;
    left: calc((100% - 5%)/2);
    width: 5%;
    bottom: 5px;
    height: 5px;
    background-color: #FF8C00;;
    margin: 10px 0;
}