.about_menu_section{
    width: 70%;
    justify-content: center;   
}

.tile{
    position: relative;
    width: 180px;
    height: 180px;
    border: 3px solid white;
    margin: 20px;
    color: white;
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

.tile span{
    letter-spacing: 1.5px;
    font-weight: bold;
}

.tile-underline{
    position: absolute;
    left: 73px;
    bottom: 20px;
    width: 30px;
    height: 3px;
    background-color: white;
}

@media (max-width: 320px) {
    .about_menu_wrapper{        
        width: 95%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between;
    }
    .tile{
        width: 130px;
        height: 130px;
    }
    .tile-underline{
        left: 48px;
    }
}

@media (max-width: 576px) {
    .about_menu_wrapper{        
        width: 95%;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between;
    }
    
}