.activity__header__wrapper{
    padding: 10px 80px;
    background-color: #FAFAFA;
}

.activity__content__wrapper{
    padding: 10px 80px;
    background-color: white;
}

.activity__header__wrapper .searching_wrapper{
    padding: 20px 12px;
}

.activity__header__wrapper .icon__wrapper{
    /* width: auto;
    height: 100%; */
    padding: 10px;
    height: 100%;
    background-color: #FF8C00;
}

.activity__header__wrapper .searching_wrapper p{
    font-size: 20px;
}

.activity__header__wrapper .searching_wrapper i{
    font-size: 28px;
}

@media (max-width: 767px) {
    .activity__header__wrapper, .activity__content__wrapper{
        padding: 10px;
    }
}