.navbar-light .navbar-nav .nav-link {
	color: none;
}

.main__header {
	font-family: Mukta,sans-serif;
	justify-content: space-between;
	letter-spacing: 1px;
	 color: black !important;
}

.main__header .company__name{
    letter-spacing: 1px;
		font-weight: 590;
		font-size: 14px !important;
}

/* .main__header .menu_text_decoration{
    position: absolute;
    width: 20px;
    height: 3px;
    left: calc((100% - 20px)/2);
    bottom: 0;
    background-color: #F2F6F5;
} */

.main__header ul li:hover .menu_text_decoration{
	color: black;
	border-bottom: 4px solid #FF8C00;
}

.main__header .menu__active{
	color: #FF8C00;
	border-bottom: none;
}

@media (min-width: 200px) {
	.main__header .menu__active .nav-link{
		color: #FF8C00;
		border-bottom: none;
	}
}

@media (min-width: 768px) {
	.main__header .menu__active .nav-link{
		color: black;
  	border-bottom: 4px solid #FF8C00;
	}
}
