/* Daily Activity */

.activity__card {
    /* background-color: #f2f6f5; */
    background-color: #FAFAFA;
    padding: 20px;
    box-shadow: 0 2px 4px #bdbdbd;
}


/* @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

/* Special Activity CSS */

.special__activity__card {
    background-color: #F2F6F5;
    box-shadow: 0 2px 4px #bdbdbd;
}

.special__activity__card .card__body {
    padding: 20px;
}

.special__activity__card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.special__activity__card  .icon {
    width: 20px;
    box-sizing: border-box;
}

