
textarea{
    padding: 10px 15px !important;
}

.page-numb{
    border-radius: 3px;
    padding: 5px 10px;
}

.card-body{
    cursor: pointer;
}

.section--title{
    font-size: 20px;
    color: #424242;
    letter-spacing: 1px;    
    padding-bottom: 3px;
}

.section--subtitle{
    padding-bottom: 3px;
    font-size: 17px;
    color: #424242;
    border-bottom: 1px solid #E0E0E0;
    letter-spacing: 1px;
}

.circle-pagination{
    border-radius: 10px;
    width: 12px; 
    height: 12px;    
}

.bg-grey {
    background-color: #C4C4C4 !important;
}

.bg-orange {
    background-color: #FF8C00 !important;
}

button {
    border: none;
    background-color: transparent;
}

.img__upload {
    border: 1px dashed gray;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__upload img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event__detail__img{
    width: 100%;
    height: 400px;
    object-fit: contain;
}

p.event__detail__desccription{
    letter-spacing: 0.5px;
    font-size: 16px;
    line-height: 30px;
    white-space: pre-wrap;
}

.img__box{
    position: relative;
    width: 200px;
    height: 200px !important;
}

.img__box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img__box .selection {
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn__selection__delete {
    background-color: #C62828;
    color: white;
    cursor: pointer;
}

.selection__for_delete{
    position: absolute;
    top: 0;
    right: 0;
}

.btn--file-upload{
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #0097A7;
    color: white !important;
    text-align: center;
}

.hidden{
    display: none;
}
/* react-datepicker */
.react-datepicker__day {
	color: gray !important;
}

.react-datepicker__day--selected {
    background-color: #66BB6A !important;
    color: white !important;
}

.react-datepicker__header {
    background-color: #66BB6A !important;
}

.react-datepicker__day-name, .react-datepicker__time-name {
    color: white !important;
}

.react-datepicker__current-month, .react-datepicker-time__header {
	color: white !important;
}

.react-datepicker__navigation--previous {
	border-right-color: white !important;
}
.react-datepicker__navigation--next {
	border-left-color: white !important;
}

.button-icon{
    padding: 3px;
}

.text-align-center{
    text-align: center;
}

.card__title{
    position: relative;
    font-size: 18px;
    color: black;
    padding: 5px 0;
}

.card_title_decorator{
    margin-top: 5px;
    width: 10px;
    height: 3px;
    background-color: #FF8C00;
}

.buddhavacana__source {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.buddhavacana__source .text-decorator{
    width: 20px;
    height: 3px;
    background-color: #FF8C00;
    margin-top: 5px;
}

.albumn__tile{
    cursor: pointer;
}
.albumn__tile img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.ebook__tile{
    cursor: pointer
}
.ebook__tile img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.serve__whitespace{
    white-space: pre-wrap;
}

.albumn__title {
    text-transform: uppercase;
    display: block;
    font-size: 15px;
    font-weight: bold;
}

.albumn__date {
    display: block;
    color: grey;
}

.login__wrapper{
    background: linear-gradient(#FF9800, #FF8A65);
    width: 100%;
    height: 100vh;
}

.login__card {
    padding: 20px 30px 30px 30px;
    border-radius: 4px;
    opacity: 0.9;
    box-shadow: 0 5px 20px #757575;
}

.login__card .logo {
    font-size: 35px;
    letter-spacing: 1px;
    color: #FF8C00;
    margin-bottom: 30px;
}

.form-group label{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 13px;
    color: #424242;
}

.ebook__wrapper .title {
    margin-top: 5px;
    font-size: 18px;
    font-weight: bold;
}

.ebook__wrapper .subtitle {
    margin-bottom: 5px;
    font-size: 12px;
    color: #2196F3;
}

.img__fitdiv {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.row {
    /* margin-left: 0 !important;
    margin-right: 0 !important; */
    /* padding-left: 0 !important;
    padding-right: 0 !important; */
}

.event-card-img {
	height: 300px;
	object-fit: cover;
}
