.btn--base{
    background-color: #FF8C00;
    color: white;
}

.btn--warning{
    background-color: #FBC02D;
    color: white;
}

.btn--smoke{
    background-color: #EEEEEE;
}
.btn--base--disabled{
    background-color: #FF8C00;
    color: white;
    opacity: 0.5;
}

.btn--large{
    padding: 8px 20px;
    font-size: 18px;
}