.clr-orange {
    color: #FF8C00;
}

.clr-white {
    color: white;
}

.clr-soft-blue {
    color: #3b5998;
}

.clr-pink {
    color: #BC1A71;
}

.clr-red {
    color: #CC181E;
}

.clr-light-blue {
    color: #1DA1F3;
}

.bg-soft-cyan{
    background-color: #26C6DA;
}

.bg-orange{
    background-color: #FF8C00;
}

.bg-white{
    background-color: white;
}

.bg-grey{
    background-color: #F5F5F5 !important;
}

