.display-flex{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-dir-column{
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-justify-center{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content: center;
}

.justify-space-between{
    -webkit-box-pack: justify;
	-ms-flex-pack: justify;
    -webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
}

.flex-justify-flex-end{
    -webkit-box-pack: flex-end;
	-ms-flex-pack: flex-end;
    -webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	justify-content: flex-end;
}

.flex-justify-end{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
	-moz-justify-content: flex-end;
	justify-content: flex-end;
}

.align-item-center{
    -webkit-box-align: center;
	-ms-flex-align: center;
    -webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
}

.align-items-end{
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    -webkit-align-items: flex-end;
	-moz-align-items: flex-end;
	align-items: flex-end;
}

.flex-wrap-wrap{
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}