.page__not__found__wrapper{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
}

.page__not__found__box{
    width: 80%;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.page__not__found__box h1{
    letter-spacing: 1px;
    font-size: 50px;
}

.page__not__found__box .desc{
    color: grey;
}