.section-title{
    position: relative;
    width: 40%;
    font-size: 30px; 
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    
}

.section-underline{
    position: absolute; 
    width: 10%; 
    height: 5px;
    left: 45%;
    background-color: #F9A823;
    margin: 10px 0;
}