.m-0{
    margin: 0;
}
.m-right-10{
    margin-right: 10px;
}

.m-bottom-5 {
    margin-bottom: 5px;
}
.m-bottom-10{
    margin-bottom: 10px;
}
.m-top-20{
    margin-top: 20px;
}
.pd-10{
    padding: 10px;
}
.pd-top-10{
    padding-top: 10px;
}
.pd-20{
    padding: 20px;
}

.pd-left-10{
    padding-left: 10px;
}
.pd-left-20{
    padding-left: 20px;
}
.pd-right-20{
    padding-right: 20px;    
}