.default__wrapper {
    padding: 0;
    margin: 0;
}

.page__wrapper{
    padding-top: 50px;
}

.page__section {
    padding: 30px 0;
}

.form__wrapper{
    padding: 20px;
}

.form__wrapper h1{
    padding-left: 10px;
}

.base__wrapper{
    padding: 20px;
}

.min-height-small{
    min-height: 300px;
}

.scrollable-wrapper{
    width: 100%;
    height: 800px; 
    overflow: auto;
    padding: 0 20px;
}

@media (max-width: 575.98px) {
    .masking{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 12;
    }
}
