.admin-main-header{
    position: fixed; 
    top: 0;
    width: 100%;
    padding: 10px;
    z-index: 5;
    background-color: #FF8C00;
}

.admin-main-header .company-name{
    color: white;
    letter-spacing: 2px;
    font-weight: bold;
}

.menu-bar-icon{
    color: white;
    font-weight: bold;
}
