.footer{
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2B2927;
    color: #F2F6F5;
}
.footer-title-wrapper{
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
}
.footer-title-wrapper .footer-title-underline{
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #FF8C00;
}

.footer .address-wrapper{
    padding: 10px 20px;
    color: white;
    background-color: aqua;
}
.footer .title{
    font-size: 18px;
    letter-spacing: 1px;
}
.social-media-wrapper a{
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;
}

.social-media-wrapper a:hover{
    color: white;
    text-decoration: none;
}

.padding-10-20{
    padding: 10px 20px;
}

.footer .row{
    margin: 0 !important;
}