.event__card .block__event{
    padding: 10px 0;
    width: 100%;
    height: 200px;
}

.event__card .block__event img{
    border-radius: 3px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid grey;
}

.event__card .block__event .box {
    width: 700px;
    height: 190px;
    overflow: hidden;
    
}

.event__card .block__event .box .wrapper{
    -webkit-column-width: 700px;
    column-width: 700px;
    height: 100%;
    text-align: justify;
}

.event__card .event__date {
    margin-top: 5px;
    margin-bottom: 5px;

    color: #FF8C00;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
}

.event__card .event__title {
    margin-top: 5px;
    margin-bottom: 5px;
    
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    cursor: pointer
}

.event__card .btn__icon {
    cursor: pointer;
}

.event__card .btn__icon i{
    font-size: 30px;
    color: #FF8C00;

}
.my__event__date{
    color: grey;
    font-weight: light;
    letter-spacing: 1px;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    .event__card .block__event .box {
        width: 100%;
    }

    .event__card .block__event .box .wrapper {
        -webkit-column-width: 100%;
        column-width: 100%;
    }
}

.event__ek__desc {
		line-height: 2;
		height: 200px;
		overflow: hidden;
}
/* @media screen and (max-width: 420px) {
    .event__card .block__event .box {
        width: 370px;
    }

    .event__card .block__event .box .wrapper {
        -webkit-column-width: 360px;
        column-width: 360px;
    }
}

@media screen and (max-width: 380px) {
    .event__card .block__event .box {
        width: 310px;
    }

    .event__card .block__event .box .wrapper {
        -webkit-column-width: 330px;
        column-width: 310px;
    }
} */

@media screen and (max-width: 330px) {
    .event__card .block__event .box {
        width: c
    }

    .event__card .block__event .box .wrapper {
        -webkit-column-width: 100%;
        column-width: 100%;
    }
}


