.admin-content-wrapper-open{
    padding-top: 50px;
    margin-left: 15%;
    width: 85%;
    transition: 0.3s;
}

.admin-content-wrapper-close{
    padding-top: 50px;
    margin-left: 0;
    width: 100%;
    transition: 0.3s;
}