.about_ekayana_wrapper {
    line-height: 2;
    padding: 10px 20px;
    line-height: 2em;
}

.about_ekayana_wrapper .subpage_content{
    padding: 10px 0;
}

.about_ekayana_wrapper p {
    padding-left: 10px;
}

.about_ekayana_wrapper .left {
    float: left;
}

.about_ekayana_wrapper .icon_wrapper{
    display: inline-block;
    padding: 20px;
    background-color: #FF8C00;
    text-align: center;
    color: white;
}

.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;
    text-align: center;
    padding: 20px;
}

.about_ekayana_wrapper .vision_mission_title{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
}




