.about-overview-wrapper{
    background-color: #FF8C00;
    color: white;
    padding: 50px 0;
}

.about-overview-box{
    width: 50%;
    text-align: center;
}

.about-overview-box .company-name{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}

.about-overview-wrapper .underline-decorator{
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 10px 0;
}

@media (max-width: 576px) {
    .about-overview-box{
        width: 90%;
    }
}