.admin-sidenav{
    list-style-type: none;
    width: 15%; 
    height: 100%;
    background-color: #232323;
    position: fixed;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.admin-sidenav li{
    display: block;
    padding: 15px;
    border-bottom: 1px solid #424242;
    text-transform: uppercase;
    cursor: pointer;
}

.admin-sidenav li:hover{
    border-right: 5px solid #FF8C00;
    padding-left: 25px;
}

.admin-sidenav-close{
    transform: translateX(-100%);
    transition: 0.3s;
}

.admin-sidenav-open{
    transform: translateX(0);
    transition: 0.3s;
}

.sidenav-menu{
    width: 85%;
    color: white !important;
    text-decoration: none !important;
}

.sidenav-icon{
    width: 15%;
    color: #FF8C00;
    font-size: 19px;
    margin-right: 10px;
    text-align: center;
}

.active-menu{
    border-right: 5px solid #FF8C00;
    padding-left: 25px !important;
}

@media (max-width: 575.98px) {
    .admin-sidenav{
        width: 70%;
        z-index: 15;
    }
}
 