.admin-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.admin-name{
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
}

.admin-position{
    display: inline-block;
    color: white;
    letter-spacing: 1px;    
    border-radius: 20px;
    border: 1px solid white;
    padding: 3px 10px;
}

.admin-settings-wrapper{
    border-top: 1px solid #424242;
}
.admin-settings-wrapper button{
    width: 50%;
    padding: 10px;
    color: white;
    border-bottom: 1px solid #424242;
    cursor: pointer;
}
.admin-settings-wrapper button:first-child{
    border-right: 1px solid #424242;
}