@import url("https://fonts.googleapis.com/css?family=Open+Sans|Mukta|Tangerine|Montserrat|");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");
@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

@import 'styles/Base.css';
@import 'styles/Flexbox.css';
@import 'styles/Spacings.css';
@import 'styles/Font.css';
@import 'styles/Color.css';
@import 'styles/PageTitle.css';
@import 'styles/Wrapper.css';
@import 'styles/Block.css';
@import 'styles/Button.css';
@import 'styles/Scrollbar.css';
@import 'styles/PageNotFound.css';

@import 'views/client/About/About.css';

@import 'component/admin/sidenav/Sidenav.css';
@import 'component/admin/sidenav/UserProfile.css';
@import 'component/admin/header/MainHeader.css';

@import 'component/client/about_ekayana/AboutOverview.css';
@import 'component/client/activity_card/ActivityCard.css';
@import 'component/client/buddhavacana/Buddhavacana.css';
@import 'component/client/reflections/DailyReflections.css';
@import 'component/client/header/Header.css';
@import 'component/client/footer/Footer.css';
@import 'component/client/card/CustomCard.css';
@import 'component/client/event/EventCard.css';
@import 'component/client/article/ArticleCard.css';
@import 'component/client/emboss_card/EmbossCard.css';

@import 'component/shared/modal/success_modal/SuccessModal.css';
@import 'component/shared/modal/warning_modal/WarningModal.css';
@import 'component/shared/modal/confirmation_modal/ConfirmationModal.css';

@import 'component/shared/title/title_center/TitleCenter.css';
@import 'component/shared/title/default_title_center/Title.css';

@import 'views/admin/Admin.css';
@import 'views/client/About/Pages/AboutEkayana/AboutEkayana.css';
@import 'views/client/About/Pages/History/History.css';
@import 'views/client/About/Pages/Facility/Facility.css';
@import 'views/client/About/Pages/Leader/Leader.css';
@import 'views/client/About/Pages/DynamicContent/DynamicContent.css';
@import 'views/client/Activity/Activity.css';




body{
  font-family: 'Mukta', sans-serif;
  margin: 0;
  padding: 0;
  /* letter-spacing: 0.5px; */
}

.documentation-overview-wrapper{
  padding: 50px 20px;
  background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/itCjTBE/orange-abstract-waves-motion-background-blurred-smooth-corporate-design-video-animation-ultra-hd-4k-3840x2160_htos8xuqx_thumbnail-full09.png")
}
