.article__card {
    width: 100%;
}

.article__card .article__img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.article__card .card-title {
    font-size: 18px;
    text-transform: capitalize;
}
.article__card .card-subtitle {
    font-size: 16px;
}
.article__card .card-text {
    width: 100%;
    height: 200px;
    overflow: hidden;
}



