.buddhavacana-box{
    width: 50%;
    text-align: center;
    padding: 50px 0;
}

.buddhavacana-box .title-wrapper{
    width: 200px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid grey;
}

.buddhavacana-box .date-wrapper{
    width: 200px;
    border-top: 1px solid grey;
    padding: 10px 20px;
}

.buddhavacana-box .buddhavacana-desc{
    padding: 20px;
}

@media (max-width: 576px) {
    .buddhavacana-box{
        width: 90%;
    }
}